.main{

}
.main > .maincon{

	width: 60%;
	position: relative;
	left: 20%;
	border-style: solid;
	border-width: 1px;
	border-color: #3498db;
	border-top-color: #fff;
	border-radius: 30px;
}
.main > .maincon > .row{
	margin-bottom: 2em;
	width: 90%;
	position: relative;
	left: 5%;
}
.main > .maincon > .row > label, .main > .maincon > .row >  input, .main > .maincon > .row >  select{
	height: 2em;
	
}
.main > .maincon > .row > label{
	width: 40%;
	float: left;
}
.main > .maincon > .row >  input, .main > .maincon > .row >  select, .main > .maincon > .row >  textarea{
	width: 50%;
	float: right;
}
.main > .maincon > .row > label > span{
	float: right;
}

.main > .maincon > center > input{
	margin-bottom: 3em;
	height: 3em;
	width : 20%;
	border: none;
	background-color: #34495e;
		color: #fff;
}
.main > .maincon > center > input:hover{
	background-color: #3498db;
		color: #fff;
}